*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    font-family : 'comic sans MS';
    color : black;
}
div{
    text-align: center;
}
.Menu {
    height : 60px;
    margin-top : 20px;
    font-size: 90%;
}

.tn1{
    background-color: #CD7C7C;
}

.tn2{
    color : white;
    background-color: #CB0000;
}

.tn3{
    background-color: #DDE45F;
}

@media(min-width : 992px){
    .column-lg {
        position : relative;
        border : solid 2px black;
        float : left;
        width: 30%;
        height : auto;
        margin-left : 2.5%;
        background-color: #909090;
    }
    
    .n3 {
        margin-right : 2.5%;
    }
    .titre{
        position : absolute;
        border : solid 2px black;
        float : left;
        width: 50%;
        height : auto;
        left : 50%;
        font-size: 22px;
    }
    div > p {
        text-align: left;
        padding: 40px 10px 10px 10px;
    }
}

@media(min-width : 768px) and (max-width : 991px){
    .column-md {
        position : relative;
        border : solid 2px black;
        float : left;
        height : auto;
        background-color: #909090;
    }
    .n1{
        width : 45%;
        margin-left : 3.33%;
    }
    .n2{
        width : 45%;
        margin-left : 3.33%;
        margin-right : 3.33%;
    }
    .n3 {
        width : 93.33%;
        margin-left : 3.33%;
        margin-right : 3.33%;
        margin-top : 3.33%;
    }
    .titre{
        position : absolute;
        border : solid 2px black;
        float : left;
        width: 50%;
        height : auto;
        left : 50%;
        font-size: 22px;
    }
    div > p {
        text-align: left;
        padding: 40px 10px 10px 10px;
    }
}
@media (max-width : 767px){
    .column-sm {
        position : relative;
        border : solid 2px black;
        float : left;
        height : auto;
        background-color: #909090;
    }
    .n1{
        width : 93.33%;
        margin-left : 3.33%;
        margin-right : 3.33%;
        margin-top : 3.33%;
    }
    .n2{
        width : 93.33%;
        margin-left : 3.33%;
        margin-right : 3.33%;
        margin-top : 3.33%;
    }
    .n3 {
        width : 93.33%;
        margin-left : 3.33%;
        margin-right : 3.33%;
        margin-top : 3.33%;
    }
    .titre{
        position : absolute;
        border : solid 2px black;
        float : left;
        width: 50%;
        height : auto;
        left : 50%;
        font-size: 22px;
    }
    div > p {
        text-align: left;
        padding: 40px 10px 10px 10px;
    }
}
